<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body>
    <table>
        <tr>
            <td class="left-column">
                <div class="sidebar">
                    <!-- Left column content -->
                    <div class="profile-section">
                        <img src="{{ url_for('static', filename='img/profile.jpg') }}" alt="Profile Photo" class="profile-photo">
                    </div>
                </div>
            </td>
            <td class="right-column">
                <nav class="header-nav">
                    <div class="menu">
                        <a href="{{ url_for('index', lang=lang) }}" {% if active_page == 'index' %}class="active"{% endif %}>
                            {% if lang == 'en' %}Home{% else %}Strona główna{% endif %}
                        </a>
                        <a href="{{ url_for('production', lang=lang) }}" {% if active_page == 'production' %}class="active"{% endif %}>
                            {% if lang == 'en' %}Projects{% else %}Realizacje{% endif %}
                        </a>
                        <a href="{{ url_for('technologies', lang=lang) }}" {% if active_page == 'technologies' %}class="active"{% endif %}>
                            Technologies
                        </a>
                        <a href="{{ url_for('services', lang=lang) }}" {% if active_page == 'services' %}class="active"{% endif %}>
                            {% if lang == 'en' %}Services{% else %}Usługi{% endif %}
                        </a>
                        <a href="{{ url_for('experience', lang=lang) }}" {% if active_page == 'experience' %}class="active"{% endif %}>
                            {% if lang == 'en' %}Experience{% else %}Doświadczenie{% endif %}
                        </a>
                        <div class="language-switcher">
                            <a href="{{ url_for(request.endpoint, lang='pl') }}" {% if lang == 'pl' %}class="active"{% endif %}>PL</a>
                            <a href="{{ url_for(request.endpoint, lang='en') }}" {% if lang == 'en' %}class="active"{% endif %}>EN</a>
                        </div>                        
                    </div>
                </nav>
            </td>
        </tr>
        <tr>
            <td class="left-column">
                <div class="sidebar">
                    <div class="contact-personal">
                        <h1>Patryk Zadroga</h1>
                        <h3 style="margin-bottom: 20px;">Automation Engineer</h3>
                    </div>
                    <div class="contact-info">
                        <p style="display: flex; align-items: left;"><img src="{{ url_for('static', filename='img/email.png') }}" alt="Email" class="contact-icon"><a href="mailto:ZadrogaPatryk18@gmail.com" target="_blank">ZadrogaPatryk18@gmail.com</a></p>
                        <p style="display: flex; align-items: left;"><img src="{{ url_for('static', filename='img/phone.png') }}" alt="Phone" class="contact-icon">+48 516 152 644</p>
                        <p style="display: flex; align-items: left;"><img src="{{ url_for('static', filename='img/github.png') }}" alt="Phone" class="contact-icon"> <a href="https://github.com/pempek18" target="_blank">github.com/pempek18</a></p>
                        <p style="display: flex; align-items: left;"><img src="{{ url_for('static', filename='img/location.png') }}" alt="Location" class="contact-icon">Warsaw,Poland</p>
                    </div>
                    <script src="{{ url_for('static', filename='script.js') }}"></script>
                    <div class="left-column-content" id="left_column_content">
                        {% block left_column_content %}
                        {% endblock %}
                    </div>
                </div>
            </td>
            <td class="right-column-content">
                <main class="main-container">
                    <div class="main-description">
                        {% block content %}{% endblock %}
                    </div>
                </main>
            </td>
        </tr>
    </table>

</body>
</html> 
