{% extends "base.html" %}

{% block title %}Strona główna{% endblock %}

{% block nav_menu %}
<a href="{{ url_for('production') }}">Realizacje</a>
<a href="{{ url_for('technologies') }}">Technologie</a>
<a href="{{ url_for('services') }}">Usługi</a>
<a href="{{ url_for('experience') }}">Doświadczenie</a>
{% endblock %}

{% block content %}
<h1>Oferta</h1>
<p>Oferuję profesjonalne usługi w zakresie automatyki przemysłowej, łącząc doświadczenie z nowoczesnymi technologiami. Od 2018 roku realizuję projekty w następujących branżach:</p>
<p>
<ul class="text-list">
    <li>Atomizacja materiałów i systemy atomizerów</li>
    <li>Systemy automatycznych magazynów</li>
    <li>Automatyzacja produkcji opakowań PP i PE:</li>
    <ul class="text-list">
        <li>Systemy wytłaczania</li>
        <li>Systemy kontroli szczelności</li>
        <li>Zautomatyzowane linie detaberów i demoilerów</li>
    </ul>
    <li>Zaawansowana obróbka stali:</li>
    <ul class="text-list">
        <li>Systemy zgrzewania</li>
        <li>Zautomatyzowane systemy wiertarskie</li>
        <li>Linie giętarek przemysłowych</li>
    </ul>
</ul>
</p>
<p>Specjalizuję się w implementacji innowacyjnych rozwiązań, wykorzystując zaawansowane technologie, takie jak systemy wizyjne oraz modele AI w automatyce przemysłowej.</p>
<p>Łączę kompetencje z zakresu systemów PLC oraz technologii IT, co pozwala na tworzenie zoptymalizowanych, efektywnych kosztowo rozwiązań dla najbardziej wymagających aplikacji przemysłowych.</p>
{% endblock %} 
