{% extends "base.html" %}

{% block title %}Realizacje{% endblock %}

{% block nav_menu %}
<a href="{{ url_for('index') }}">Strona główna</a>
<a href="{{ url_for('technologies') }}">Technologie</a>
<a href="{{ url_for('services') }}">Usługi</a>
<a href="{{ url_for('experience') }}">Doświadczenie</a>
{% endblock %}

{% block content %}
<h1>Moje Realizacje</h1>

<div class="projects-grid">
    <div class="project-card">
        <img src="static/rePowder.png" alt="Automatyczny Atomizer ultradzwiękowy rePowder">
        <h3>Automatyczny Atomizer ultradzwiękowy rePowder</h3>
        <p>Wdrożenie sterowania atomizera ultradzwiękowego bazującego na PLC Beckhoff</p>
    </div>
    <div class="project-card">
        <img src="static/inFurner.png" alt="Piec próżniowy inFurner">
        <h3>Piec próżniowy inFurner</h3>
        <p>Piec próżniowy do wypiekania materiałów</p>
    </div>
    <div class="project-card">
        <img src="static/manipulator_xyz.png" alt="Manipulator XYZ">
        <h3>Manipulator XYZ</h3>
        <p>Manipulator do sterowania palnikiem plazmowym z użyciem kontrlera xbox</p>
    </div>

    <div class="project-card">
        <img src="images/projekt3.jpg" alt="Indexer do butelek">
        <h3>Zgrzewarka wielopunktowa do paneli ogrodzeniowych</h3>
        <p>Modyfikacja sterowania zgrzewarki wielopunktowej</p>
    </div>

    <div class="project-card">
        <img src="static/tornado.png" alt="Tester szczelności">
        <h3>Tester szczelności</h3>
        <p>Zautomatyzowany system do testowania szczelności butelek</p>
    </div>
    
    <div class="project-card">
        <img src="images/projekt5.jpg" alt="Wytłaczarka do butelek PP">
        <h3>Wytłaczarka do butelek PP</h3>
        <p>Zautomatyzowana linia do wytłaczania butelek PP</p>
    </div>
    
</div>
{% endblock %}
