{% extends "base.html" %}

{% block title %}Realizacje{% endblock %}

{% block nav_menu %}
<a href="{{ url_for('index') }}">Strona główna</a>
<a href="{{ url_for('technologies') }}">Technologie</a>
<a href="{{ url_for('services') }}">Usługi</a>
<a href="{{ url_for('experience') }}">Doświadczenie</a>
{% endblock %}

{% block content %}
<h1>Moje Realizacje</h1>

<div class="projects-grid">
    <div class="project-card">
        <img src="images/projekt1.jpg" alt="Automatyczny Atomizer ultradzwiękowy">
        <h3>Automatyczny Atomizer ultradzwiękowy</h3>
        <p>System zarządzania magazynem z wykorzystaniem robotów transportowych</p>
    </div>

    <div class="project-card">
        <img src="images/projekt2.jpg" alt="Automatyczny linie pakujące">
        <h3>Automatyczny linie pakujące</h3>
        <p>Zautomatyzowany system kontroli procesu atomizacji materiałów</p>
    </div>

    <div class="project-card">
        <img src="images/projekt3.jpg" alt="Indexer do butelek">
        <h3>Indexer do butelek</h3>
        <p>Kompleksowy system sterowania linią do wytłaczania butelek</p>
    </div>

    <div class="project-card">
        <img src="images/projekt4.jpg" alt="Tester szczelności">
        <h3>Tester szczelności</h3>
        <p>Zautomatyzowany system do testowania szczelności butelek</p>
    </div>
    
    <div class="project-card">
        <img src="images/projekt5.jpg" alt="Wytłaczarka do butelek PP">
        <h3>Wytłaczarka do butelek PP</h3>
        <p>Zautomatyzowana linia do wytłaczania butelek PP</p>
    </div>
    
</div>
{% endblock %}
