{% extends "base.html" %}

{% block title %}Technologie{% endblock %}

{% block content %}

<h1>Technologie</h1>

<div class="projects-grid">
    <div class="project-card">
        <h3>PLC</h3>
        <img src="static/img/beckhoff.png" alt="beckhoff">
        <img src="static/img/gx_works.png" alt="gx_works">
        <ul>
            <li>6 lat doświadczenia w różnych branżach i różnych typach sterowników</li>
            <li>Beckhoff</li>
            <li>Mitsubishi</li>
            <li>Fatek</li>
        </ul>
    </div>
    <div class="project-card">
        <h3>HMI</h3>
        <div>
            <img src="static/img/weintek.png" alt="Weintek">
            <img src="static/img/indusoft.png" alt="Indusoft">
        </div>
        <ul>
            <li>Tradycyjne HMi</li>
            <li>Scada</li>
            <li>lokalne aplikacje desktopowe pracujące jako HMI</li>
        </ul>
    </div>
    <div class="project-card">
        <h3>Robotics</h3>
        <img src="static/img/kuka.png" alt="kuka" style="width: 100%; height: auto; padding: 30px; padding-bottom: 30px;">
        <ul>
            <li>Programowanie robotów przemysłowych i automatyzacja manipulacji</li>
            <li>Pierwsze uruchomienia robotów KUKA</li>
            <li>integracja safety i sterowania robotów z systemami PLC</li>
        </ul>
    </div>       
    <div class="project-card">
        <h3>Vision</h3>
        <img src="static/img/ultralytics.png" alt="Vision">
        <ul>
            <li>Systemy wizyjne i przetwarzanie obrazu w zastosowaniach przemysłowych</li>
            <li>Ultralytics</li>
            <li>Yolov8</li>
            <li>Postprocessing rezultatów detekcji i segmentacji dla zastosowań przemysłowych</li>
            <li>Kontrola trudnych procesów jak np. spawanie plazmowe, spawanie lasermi, spawanie TIG</li>
        </ul>
    </div>
    <div class="project-card">
        <h3>Machine Learning</h3>
        <div>
            <img src="static/img/pyTorch.png" alt="Machine Learning" >
            <img src="static/img/python.png" alt="Machine Learning" >
        </div>
        <ul>
            <li>Implementacja modelu LSTM do przerwidywania zużycia przetworników ultradzwiękowych</li>
            <li>Analiza dużych zbiorów danych w celu wykrycia prawidłowości w trudnych procesach</li>
            <li>Przygotowywanie raportów bazujących na dużych zbiorach danych</li>
        </ul>
    </div>
    <div class="project-card">
        <h3>Large Language Models</h3>
        <img src="static/img/llama.jpeg" alt="LLM">
        <ul>
            <li>Wykorzystanie modeli językowych w automatyzacji i optymalizacji procesów</li>
            <li>Przyuczanie lokalnych LLM do funkcji Asystent operatora</li>
            <li>Przyuczanie LLM do rozpatrywania złożonych danych w długim kontekście czasowym</li>
        </ul>
    </div>
    <div class="project-card">
        <h3>Aplikacje desktopowe</h3>
        <img src="static/img/csharp.png" alt="Embeded Systems">
        <ul>
            <li>Tworzenie dedykowanych aplikacji desktopowych dla przemysłu</li>
            <li>korzystanie z C#, WPF, .net maui dla realizacji aplikacji desktopowych</li>
            <li>HMI dla sterowników PLC z wykorzystaniem nowoczesnych technologii</li>
        </ul>
    </div>
    <div class="project-card">
        <h3>Systemy wbudowane</h3>
        <img src="static/img/cplusplus.png" alt="Aplikacje desktopowe">
        <ul>
            <li>Programowanie systemów wbudowanych i mikrokontrolerów</li>
            <li>Programowanie w C/C++</li>
            <li>Realizacje budżetowych rozwiązań na mikrokontrolerach</li>
        </ul>
    </div>         
    <div class="project-card">
        <h3>Dockeryzacja aplikacji</h3>
        <img src="static/img/docker.png" alt="Aplikacje desktopowe">
        <p>Dockeryzacja aplikacji w celu zwiększenia elastyczności i skalowalności</p>
    </div>       
</div>
{% endblock %} 